:root{
    --main-bkground-color: #EDEDED;
    --main-fore-color: #fff;
    --font-header-title-size: 20px;
    --font-header-family: 'PT Mono';
    --font-header-weight: 'bolder';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* height: 100%; */
    width: auto;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    /* position: relative; */
}

header{
    background-color: var(--main-bkground-color);
    height: 75px;
    width: 100%;
    /* position: relative; */
}

.mainWrapper{
    background-color: var(--main-bkground-color);
    /* position: relative; */
    height: 100%;
    width: 100%;
}

/* Agenda ----------------------- -------------------- */
.agenda{
    background-color: var(--main-fore-color);
    border-bottom-right-radius: 20px;
    height: 50px;
    position: absolute;
    text-align: center;
    /* vertical-align: middle; */
    width: 250px;
}

.lblAgenda{
    font-size: var(--font-header-title-size);
    font-family: var(--font-family);
    font-weight: var(--font-header-weight);
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-20px);
}

/* Perfil  --------------------------------------------------- */

.perfil{
    background-color: var(--main-fore-color);
    border-bottom-left-radius: 20px;
    height: 50px;
    text-align: center;
    width: 250px;
    float: right;
    top:0px;
}

.lblPerfil{
    font-size: var(--font-header-title-size);
    font-family: var(--font-family);
    font-weight: var(--font-header-weight);
    position: relative;
    top: 12px;
}

/* Calendario  ------------------------------------------------- */

.calendario{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-color: var(--main-fore-color);
    top:45px;
    height: 59px;
    left: 50%;
    padding: 10px;
    width: 60%;
    text-align: right;
    position: absolute;
    transform: translate(-50%, -50%);
    
}



.lblCalendario{
    font-size: var(--font-header-title-size);
    font-family: var(--font-family);
    font-weight: var(--font-header-weight);
    top:30%;
    position: absolute;
    transform: translateY(-20%);
    transform: translateX(-150%);
}

/* Center  -------------------------------------------------------- */

.center{
    background-color: var(--main-fore-color);
    border-left-style: solid;
    border-right-style: solid;
    border-color:var(--main-bkground-color);
    height: 100%;
    position:relative;
    width: 50.4%;
    left: 24.5%;
}

/* Calendar  -------------------------------------------------  */
.asideCalendar{
    background-color: var(--main-fore-color);
    border-top-left-radius: 20px;
    margin-left: 12px;
    /* border-style: solid; */
    /* border-right-color: var(--main-bkground-color); */
    /* border-right-color: red; */
    border-top: none;
    border-left:none;
    border-bottom: none;
    left: 10px;
    float: left;
    padding: 10px;
    height: 100%;
    top: 0;
    width: 23.7%;
}

        /* Etiquetas  ------------------------------------------- */

.headerEtiquetas{
    margin: 20px 20px 0px 30px;
    display: flex;
    flex-direction: row;
}

.pEtiquetas{
    font-size: 1.1rem;
    font-family: var(--font-family);
    font-weight: var(--font-header-weight);
    margin-left: 15px;
}

.Etiquetas img{
    width: 8px;
}

.Etiquetas ul li img{
    margin: 5px;
    filter: invert(67%) sepia(21%) saturate(456%) hue-rotate(234deg) brightness(87%) contrast(92%);
    width: 16px;
}

.Etiquetas ul li{
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    padding-top: 10px;
}

.Etiquetas ul li a{
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: var(--font-header-weight);
    margin: 5px 5px 5px 5px;
    text-decoration: none;
}

/* Eventos ----------------------------- */

.asideEventos{
    background-color: var(--main-fore-color);
    border-style: solid;
    /* border-left-color: var(--main-bkground-color); */
    border-top: none;
    border-right:none;
    border-bottom: none;
    border-top-right-radius:20px ;
    /* left: 69%; */
    margin-right: 12px;
    float: right;
    height: 100%;
    /* position: relative; */
    /* top:-110px; */
    width: 25%;

}

.header-eventos{
    display: flex;
    flex-direction: row;
    float: right;
    
}

.Eventos{
    font-size: var(--font-header-title-size);
    font-family: var(--font-family);
    font-weight: var(--font-header-weight);
    margin: 10px;
    height: 100%;
}


/* Icons ------------------------------------  */
.agenda > .iconAgenda-button{
    cursor: pointer;
    filter: invert(67%) sepia(21%) saturate(456%) hue-rotate(234deg) brightness(87%) contrast(92%);
    position: absolute;
    width: 13px;
    float: right;
    top: 40%;
    transform: translateX(470%) rotate(180deg);
}

.agenda > .iconAgenda-calendar{
    cursor: pointer;
    position: absolute;
    width: 25px;
    /* float: left; */
    top: 15%;
    right: 180px;
}

.perfil > .iconAgenda-button{
    cursor: pointer;
    filter: invert(67%) sepia(21%) saturate(456%) hue-rotate(234deg) brightness(87%) contrast(92%);
    position: absolute;
    width: 13px;
    float: right;
    top: 18px;
    transform: translateX(23px) rotate(180deg);
}

.calendario > .iconAgenda-button{
    cursor: pointer;
    filter: invert(67%) sepia(21%) saturate(456%) hue-rotate(234deg) brightness(87%) contrast(92%);
    width: 13px;
    float: right;
    transform: translateX(-15px) translateY(13px) rotate(180deg);
}



.header-eventos-edit{
    cursor: pointer;
    width: 14px;
    /* margin-top: 3px; */
}

.header-eventos-close{
    cursor: pointer;
    filter: invert(43%) sepia(0%) saturate(3242%) hue-rotate(348deg) brightness(102%) contrast(98%);
    margin: 15px;
    width: 12px;
}